*::before,
*::after {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --fw4: 400;
  --fw6: 600;
}
@font-face {
  font-family: Fraunces-sb;
  src: url("./assets/fonts/Fraunces/Fraunces_144pt_Soft-Light.ttf");
}
@font-face {
  font-family: Barlow-Extra-Light;
  src: url("./assets/fonts/barlow/BarlowCondensed-ExtraLight.otf");
}
@font-face {
  font-family: Mersad-sb; 
  src: url("./assets/fonts/mersad/Mersad_SemiBold.ttf");
}
@font-face {
  font-family: barlow-b; 
  src: url("./assets/fonts/barlow/Barlow-Extra-Bold.ttf");
}
@font-face {
  font-family: CrimsonT;
  src: url("./assets/fonts/Crimson/CrimsonText-Semibold.ttf");
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  max-width: 100vw;
  min-height: 100vh;
}
.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
 h2 {
  font-family: "Barlow-Extra-Light", serif;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  & span {
    font-family: "barlow-b", serif;
    color: #3b4951;
    margin-right: 10px;
    font-weight: 900;
    font-size: 1.1rem;
  }
}